In [58]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [59]:
df=pd.read_csv("japan_heart_attack_dataset.csv")

In [60]:
df.head()

,Age,Gender,Region,Smoking_History,Diabetes_History,Hypertension_History,Cholesterol_Level,Physical_Activity,Diet_Quality,Alcohol_Consumption,Stress_Levels,BMI,Heart_Rate,Systolic_BP,Diastolic_BP,Family_History,Heart_Attack_Occurrence
0,56,Male,Urban,Yes,No,No,186.400209,Moderate,Poor,Low,3.644786,33.961349,72.301534,123.902090,85.682809,No,No
1,69,Male,Urban,No,No,No,185.136747,Low,Good,Low,3.384056,28.242873,57.457640,129.893306,73.524262,Yes,No
2,46,Male,Rural,Yes,No,No,210.696611,Low,Average,Moderate,3.810911,27.601210,64.658697,145.654901,71.994812,No,No
3,32,Female,Urban,No,No,No,211.165478,Moderate,Good,High,6.014878,23.717291,55.131469,131.785220,68.211333,No,No
4,60,Female,Rural,No,No,No,223.814253,High,Good,High,6.806883,19.771578,76.667917,100.694559,92.902489,No,No

In [61]:
df.shape

(30000, 17)

In [62]:
df.isnull().sum()

Age                           0
Gender                        0
Region                        0
Smoking_History               0
Diabetes_History              0
Hypertension_History          0
Cholesterol_Level             0
Physical_Activity             0
Diet_Quality                  0
Alcohol_Consumption        3015
Stress_Levels                 0
BMI                           0
Heart_Rate                    0
Systolic_BP                   0
Diastolic_BP                  0
Family_History                0
Heart_Attack_Occurrence       0
dtype: int64

In [63]:
df.Alcohol_Consumption.fillna(df.Alcohol_Consumption.mode()[0],inplace=True)

C:\Users\Pavilion\AppData\Local\Temp\ipykernel_1368\2303154068.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Alcohol_Consumption.fillna(df.Alcohol_Consumption.mode()[0],inplace=True)

In [64]:
df.isnull().sum()

Age                        0
Gender                     0
Region                     0
Smoking_History            0
Diabetes_History           0
Hypertension_History       0
Cholesterol_Level          0
Physical_Activity          0
Diet_Quality               0
Alcohol_Consumption        0
Stress_Levels              0
BMI                        0
Heart_Rate                 0
Systolic_BP                0
Diastolic_BP               0
Family_History             0
Heart_Attack_Occurrence    0
dtype: int64

In [65]:
df.head(2)

,Age,Gender,Region,Smoking_History,Diabetes_History,Hypertension_History,Cholesterol_Level,Physical_Activity,Diet_Quality,Alcohol_Consumption,Stress_Levels,BMI,Heart_Rate,Systolic_BP,Diastolic_BP,Family_History,Heart_Attack_Occurrence
0,56,Male,Urban,Yes,No,No,186.400209,Moderate,Poor,Low,3.644786,33.961349,72.301534,123.902090,85.682809,No,No
1,69,Male,Urban,No,No,No,185.136747,Low,Good,Low,3.384056,28.242873,57.457640,129.893306,73.524262,Yes,No

In [66]:
print(df["Gender"].value_counts())
print(df["Region"].value_counts())
print(df["Smoking_History"].value_counts())
print(df["Diabetes_History"].value_counts())
print(df["Hypertension_History"].value_counts())
print(df["Diet_Quality"].value_counts())
print(df["Alcohol_Consumption"].value_counts())
print(df["Family_History"].value_counts())
print(df["Heart_Attack_Occurrence"].value_counts())

Gender
Male      15067
Female    14933
Name: count, dtype: int64
Region
Urban    21061
Rural     8939
Name: count, dtype: int64
Smoking_History
No     21003
Yes     8997
Name: count, dtype: int64
Diabetes_History
No     23903
Yes     6097
Name: count, dtype: int64
Hypertension_History
No     22546
Yes     7454
Name: count, dtype: int64
Diet_Quality
Good       12006
Average    11971
Poor        6023
Name: count, dtype: int64
Alcohol_Consumption
Moderate    15074
Low          9098
High         5828
Name: count, dtype: int64
Family_History
No     21064
Yes     8936
Name: count, dtype: int64
Heart_Attack_Occurrence
No     27036
Yes     2964
Name: count, dtype: int64

In [67]:
## get all the numeric features

num_features=[feature for feature in df.columns if df[feature].dtype!="O"]
print('Num of Numerical Feature :',len(num_features))

Num of Numerical Feature : 7

In [68]:
## get all the numeric features
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print('Num of Categorical Features :', len(cat_features))

Num of Categorical Features : 10

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      30000 non-null  int64
 1   Gender                   30000 non-null  object
 2   Region                   30000 non-null  object
 3   Smoking_History          30000 non-null  object
 4   Diabetes_History         30000 non-null  object
 5   Hypertension_History     30000 non-null  object
 6   Cholesterol_Level        30000 non-null  float64
 7   Physical_Activity        30000 non-null  object
 8   Diet_Quality             30000 non-null  object
 9   Alcohol_Consumption      30000 non-null  object
 10  Stress_Levels            30000 non-null  float64
 11  BMI                      30000 non-null  float64
 12  Heart_Rate               30000 non-null  float64
 13  Systolic_BP              30000 non-null  float64
 14  Diastolic_BP             30000 non-null  float64
 15  Family_History           30000 non-null  object
 16  Heart_Attack_Occurrence  30000 non-null  object
dtypes: float64(6), int64(1), object(10)
memory usage: 3.9+ MB

In [70]:
from sklearn.preprocessing import LabelEncoder

LE = LabelEncoder()
df["Heart_Attack_Occurrence"] = LE.fit_transform(df["Heart_Attack_Occurrence"])

In [71]:
df["Heart_Attack_Occurrence"]

0        0
1        0
2        0
3        0
4        0
        ..
29995    0
29996    0
29997    0
29998    0
29999    0
Name: Heart_Attack_Occurrence, Length: 30000, dtype: int32

## Train Test Split And Model Training

In [72]:
from sklearn.model_selection import train_test_split

X = df.drop(['Heart_Attack_Occurrence'], axis=1)
y = df['Heart_Attack_Occurrence']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [73]:
# Create Column Transformer with 3 types of transformers
cat_features=X.select_dtypes(include="object").columns
num_features=X.select_dtypes(exclude="object").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

preprocessor=ColumnTransformer(
    [
        ("OneHotEncoder",oh_transformer,cat_features),
        ("StandardScaler",numeric_transformer,num_features)
    ]
)

In [74]:
X_train=preprocessor.fit_transform(X_train)

In [95]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report,ConfusionMatrixDisplay, \
                            precision_score, recall_score, f1_score, roc_auc_score,roc_curve