In [1]:
1+1

2

In [2]:
import pandas as pd
df=pd.read_csv("japan_heart_attack_dataset.csv")

In [3]:
df.head()

,Age,Gender,Region,Smoking_History,Diabetes_History,Hypertension_History,Cholesterol_Level,Physical_Activity,Diet_Quality,Alcohol_Consumption,...,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31
0,56,Male,Urban,Yes,No,No,186.400209,Moderate,Poor,Low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,69,Male,Urban,No,No,No,185.136747,Low,Good,Low,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,46,Male,Rural,Yes,No,No,210.696611,Low,Average,Moderate,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,32,Female,Urban,No,No,No,211.165478,Moderate,Good,High,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,60,Female,Rural,No,No,No,223.814253,High,Good,High,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['Age', 'Gender', 'Region', 'Smoking_History', 'Diabetes_History',
       'Hypertension_History', 'Cholesterol_Level', 'Physical_Activity',
       'Diet_Quality', 'Alcohol_Consumption', 'Stress_Levels', 'BMI',
       'Heart_Rate', 'Systolic_BP', 'Diastolic_BP', 'Family_History',
       'Heart_Attack_Occurrence', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23',
       'Unnamed: 24', 'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 32 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      30000 non-null  int64
 1   Gender                   30000 non-null  object
 2   Region                   30000 non-null  object
 3   Smoking_History          30000 non-null  object
 4   Diabetes_History         30000 non-null  object
 5   Hypertension_History     30000 non-null  object
 6   Cholesterol_Level        30000 non-null  float64
 7   Physical_Activity        30000 non-null  object
 8   Diet_Quality             30000 non-null  object
 9   Alcohol_Consumption      26985 non-null  object
 10  Stress_Levels            30000 non-null  float64
 11  BMI                      30000 non-null  float64
 12  Heart_Rate               30000 non-null  float64
 13  Systolic_BP              30000 non-null  float64
 14  Diastolic_BP             30000 non-null  float64
 15  Family_History           30000 non-null  object
 16  Heart_Attack_Occurrence  30000 non-null  object
 17  Unnamed: 17              0 non-null      float64
 18  Unnamed: 18              0 non-null      float64
 19  Unnamed: 19              0 non-null      float64
 20  Unnamed: 20              0 non-null      float64
 21  Unnamed: 21              0 non-null      float64
 22  Unnamed: 22              0 non-null      float64
 23  Unnamed: 23              0 non-null      float64
 24  Unnamed: 24              0 non-null      float64
 25  Unnamed: 25              0 non-null      float64
 26  Unnamed: 26              0 non-null      float64
 27  Unnamed: 27              0 non-null      float64
 28  Unnamed: 28              0 non-null      float64
 29  Unnamed: 29              0 non-null      float64
 30  Unnamed: 30              0 non-null      float64
 31  Unnamed: 31              0 non-null      float64
dtypes: float64(21), int64(1), object(10)
memory usage: 7.3+ MB

In [6]:
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]

In [7]:
df.head()

,Age,Gender,Region,Smoking_History,Diabetes_History,Hypertension_History,Cholesterol_Level,Physical_Activity,Diet_Quality,Alcohol_Consumption,Stress_Levels,BMI,Heart_Rate,Systolic_BP,Diastolic_BP,Family_History,Heart_Attack_Occurrence
0,56,Male,Urban,Yes,No,No,186.400209,Moderate,Poor,Low,3.644786,33.961349,72.301534,123.902090,85.682809,No,No
1,69,Male,Urban,No,No,No,185.136747,Low,Good,Low,3.384056,28.242873,57.457640,129.893306,73.524262,Yes,No
2,46,Male,Rural,Yes,No,No,210.696611,Low,Average,Moderate,3.810911,27.601210,64.658697,145.654901,71.994812,No,No
3,32,Female,Urban,No,No,No,211.165478,Moderate,Good,High,6.014878,23.717291,55.131469,131.785220,68.211333,No,No
4,60,Female,Rural,No,No,No,223.814253,High,Good,High,6.806883,19.771578,76.667917,100.694559,92.902489,No,No

In [9]:
df.to_csv("japan_heart_attack_datasett.csv",index=False)